<%- include('./utils/navbar') %>



<% if(error.length>0){ %>
  <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500">
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      
      <span class="block sm:inline"><%= error %></span>
      
    </div>
  </div>
  <% } %>
  <% if(success.length>0){ %> 
      <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-blue-400">
          <span class="inline-block mt-1 mb-1 text-white">
              <%= success %>
          </span>
      </div>
      <%   }  %> 

<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="mainBody  flex justify-between bg-black ">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>




        <div class="w-full h-screen flex justify-evenly px-20">
            <div class="w-1/3 flex items-center justify-center h-screen">
                <div class="w-full px-16">
                    <h3 class="text-4xl text-blue-400 font-semibold ">Welcome to <br> <span class="text-blue-400 font-semibold">Expense-tracker</span></h3>
                    <h4 class="text-2xl mb-5">create your account</h4>
                    <form autocomplete="off" action="/users/register" method="post">
                        <input
                            class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                            type="text" placeholder="Full Name" name="name">
                        <input
                            class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                            type="email" placeholder="Email" name="email">
                        <input
                            class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                            type="password" placeholder="Password" name="password">
                        <input class="px-5 rounded-full py-3 mt-2 bg-blue-500 text-white" type="submit"
                            value="Create My Account">
                    </form>
                </div>
            </div>
            <div class="w-1/3 flex items-center justify-center h-screen">
                <div class="w-full px-16">
                    <h4 class=" text-4xl capitalize mb-5 text-blue-400 font-semibold ">login your account</h4>
                    <form autocomplete="off" action="/users/login" method="post">
                        <input
                            class="block bg-zinc-100 w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                            type="email" placeholder="Email" name="email">
                        <input
                            class="block bg-zinc-100 w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                            type="password" placeholder="Password" name="password">
                        <input class="px-5 block rounded-full py-3 mt-2 bg-blue-500 text-white" type="submit"
                            value="Login">
                    </form>
                </div>
            </div>
        </div>
      
    
   
    </div>



</body>









<style>

    body{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }


#stars {
  width: 1px;
  height: 1px;

  background: transparent; 
  box-shadow: 644px 1350px #fff, 1402px 1430px #fff, 296px 807px #fff,
    511px 1586px #fff, 862px 1185px #fff, 525px 735px #fff, 1903px 1817px #fff,
    1198px 1153px #fff, 204px 979px #fff, 815px 452px #fff, 470px 1870px #fff,
    341px 1653px #fff, 785px 1615px #fff, 1042px 1193px #fff, 1784px 1261px #fff,
    437px 1309px #fff, 170px 1552px #fff, 1007px 1602px #fff, 1286px 1593px #fff,
    1592px 1313px #fff, 255px 823px #fff, 1601px 1120px #fff, 847px 919px #fff,
    1626px 1594px #fff, 1713px 1889px #fff, 54px 478px #fff, 1489px 865px #fff,
    15px 781px #fff, 176px 971px #fff, 1254px 500px #fff, 1082px 475px #fff,
    617px 568px #fff, 1310px 385px #fff, 798px 1317px #fff, 1787px 1757px #fff,
    752px 1055px #fff, 1938px 1631px #fff, 772px 1035px #fff, 1901px 685px #fff,
    1300px 971px #fff, 49px 1399px #fff, 1749px 1508px #fff, 434px 520px #fff,
    1709px 774px #fff, 304px 59px #fff, 1571px 500px #fff, 1094px 106px #fff,
    1037px 718px #fff, 1598px 1510px #fff, 1027px 1822px #fff, 240px 1388px #fff,
    1905px 1681px #fff, 1833px 890px #fff, 1856px 890px #fff, 722px 1036px #fff,
    989px 592px #fff, 871px 1469px #fff, 783px 745px #fff, 930px 1865px #fff,
    1002px 936px #fff, 989px 1621px #fff, 1065px 100px #fff, 1095px 730px #fff,
    1369px 1154px #fff, 1087px 425px #fff, 1624px 38px #fff, 429px 1228px #fff,
    329px 1613px #fff, 596px 1658px #fff, 1867px 537px #fff, 1607px 1505px #fff,
    415px 1301px #fff, 357px 130px #fff, 607px 320px #fff, 1641px 881px #fff,
    41px 120px #fff, 1379px 1014px #fff, 1320px 168px #fff, 1449px 1082px #fff,
    910px 1663px #fff, 177px 1261px #fff, 931px 608px #fff, 1078px 1799px #fff,
    1650px 138px #fff, 1983px 1191px #fff, 1197px 567px #fff, 1729px 1012px #fff,
    364px 48px #fff, 1290px 157px #fff, 1516px 690px #fff, 732px 473px #fff,
    227px 14px #fff, 404px 239px #fff, 1582px 1664px #fff, 959px 1413px #fff,
    352px 1243px #fff, 1903px 502px #fff, 743px 952px #fff, 1408px 657px #fff,
    1000px 229px #fff, 1503px 1144px #fff, 318px 283px #fff, 1320px 154px #fff,
    97px 1357px #fff, 1697px 1694px #fff, 820px 307px #fff, 1269px 568px #fff,
    1538px 853px #fff, 1210px 882px #fff, 691px 1621px #fff, 1610px 1534px #fff,
    611px 1249px #fff, 635px 765px #fff, 1497px 1054px #fff, 1369px 555px #fff,
    995px 608px #fff, 1718px 1689px #fff, 1996px 1331px #fff, 36px 643px #fff,
    550px 1364px #fff, 465px 280px #fff, 1280px 1672px #fff, 1725px 1482px #fff,
    730px 1400px #fff, 1194px 1458px #fff, 1582px 1972px #fff, 317px 1616px #fff,
    1937px 1755px #fff, 688px 440px #fff, 1455px 1843px #fff, 97px 1867px #fff,
    1745px 1456px #fff, 922px 175px #fff, 567px 169px #fff, 1353px 1652px #fff,
    364px 1013px #fff, 552px 1077px #fff, 1989px 1127px #fff, 1256px 520px #fff,
    1231px 726px #fff, 1828px 1207px #fff, 110px 595px #fff, 157px 1615px #fff,
    1146px 600px #fff, 360px 1816px #fff, 1105px 1163px #fff, 1869px 859px #fff,
    904px 1853px #fff, 1347px 929px #fff, 1603px 214px #fff, 644px 826px #fff,
    619px 610px #fff, 44px 1650px #fff, 1659px 1294px #fff, 1831px 1788px #fff,
    1087px 874px #fff, 1859px 1909px #fff, 1462px 1780px #fff, 1985px 232px #fff,
    139px 1852px #fff, 1469px 1729px #fff, 1325px 651px #fff, 1777px 1332px #fff,
    461px 394px #fff, 458px 1940px #fff, 144px 1554px #fff, 1307px 1993px #fff,
    784px 1127px #fff, 575px 913px #fff, 1227px 735px #fff, 1462px 1747px #fff,
    1057px 1924px #fff, 1669px 689px #fff, 840px 1017px #fff, 1662px 1174px #fff,
    1527px 186px #fff, 1822px 622px #fff, 133px 177px #fff, 580px 200px #fff,
    1291px 1222px #fff, 1216px 1811px #fff, 73px 675px #fff, 1994px 13px #fff,
    1157px 704px #fff, 1603px 694px #fff, 1288px 1142px #fff, 1382px 1432px #fff,
    1537px 361px #fff, 1153px 396px #fff, 1380px 391px #fff, 1105px 1787px #fff,
    570px 517px #fff, 1944px 1297px #fff, 973px 901px #fff, 1948px 1994px #fff,
    33px 767px #fff, 121px 109px #fff, 416px 1061px #fff, 1904px 673px #fff,
    1196px 1188px #fff, 27px 1361px #fff, 872px 481px #fff, 1814px 1452px #fff,
    1962px 1985px #fff, 39px 562px #fff, 736px 871px #fff, 1982px 651px #fff,
    1601px 753px #fff, 1292px 1639px #fff, 858px 790px #fff, 1679px 1241px #fff,
    647px 708px #fff, 748px 1336px #fff, 175px 1657px #fff, 1007px 1255px #fff,
    70px 975px #fff, 1096px 1315px #fff, 1524px 1539px #fff, 983px 150px #fff,
    1113px 1011px #fff, 320px 1973px #fff, 1192px 234px #fff, 1857px 77px #fff,
    20px 1201px #fff, 902px 409px #fff, 934px 1331px #fff, 722px 13px #fff,
    1468px 1603px #fff, 1274px 1678px #fff, 1729px 658px #fff, 361px 1705px #fff,
    223px 1205px #fff, 1282px 1542px #fff, 1763px 249px #fff, 646px 921px #fff,
    1672px 1581px #fff, 1086px 667px #fff, 27px 1023px #fff, 537px 1753px #fff,
    464px 1554px #fff, 98px 1249px #fff, 1741px 320px #fff, 711px 737px #fff,
    532px 335px #fff, 768px 1936px #fff, 1279px 1323px #fff, 314px 267px #fff,
    1166px 356px #fff, 1920px 1350px #fff, 1532px 1080px #fff, 1914px 279px #fff,
    687px 432px #fff, 328px 1852px #fff, 416px 736px #fff, 1540px 1022px #fff,
    1283px 1826px #fff, 1028px 341px #fff, 1073px 209px #fff, 1674px 354px #fff,
    882px 1697px #fff, 770px 689px #fff, 1907px 729px #fff, 1829px 1079px #fff,
    1356px 703px #fff, 890px 1903px #fff, 1883px 268px #fff, 196px 199px #fff,
    721px 1929px #fff, 423px 543px #fff, 241px 54px #fff, 1957px 554px #fff,
    768px 583px #fff, 440px 530px #fff, 1469px 1489px #fff, 222px 1999px #fff,
    367px 88px #fff, 1135px 639px #fff, 1257px 715px #fff, 1865px 37px #fff,
    1384px 412px #fff, 1052px 1713px #fff, 1919px 665px #fff, 1290px 1254px #fff,
    137px 1051px #fff, 1413px 1169px #fff, 786px 371px #fff, 761px 815px #fff,
    496px 1554px #fff, 1025px 1104px #fff, 1216px 801px #fff, 734px 926px #fff,
    565px 1061px #fff, 1965px 9px #fff, 1353px 1513px #fff, 1228px 1827px #fff,
    60px 1877px #fff, 1931px 60px #fff, 1117px 529px #fff, 1236px 100px #fff,
    143px 934px #fff, 1882px 1962px #fff, 1055px 1065px #fff, 364px 453px #fff,
    1752px 1307px #fff, 1058px 1209px #fff, 1780px 1821px #fff,
    1663px 1452px #fff, 94px 1907px #fff, 417px 1332px #fff, 1676px 744px #fff,
    475px 14px #fff, 657px 1575px #fff, 1808px 1062px #fff, 957px 1947px #fff,
    1228px 127px #fff, 575px 920px #fff, 381px 206px #fff, 1249px 866px #fff,
    946px 865px #fff, 680px 443px #fff, 1321px 1918px #fff, 1113px 614px #fff,
    225px 1177px #fff, 314px 1473px #fff, 535px 1319px #fff, 681px 1542px #fff,
    1345px 261px #fff, 760px 1859px #fff, 723px 793px #fff, 880px 1044px #fff,
    1726px 340px #fff, 1439px 420px #fff, 444px 1044px #fff, 883px 430px #fff,
    1296px 222px #fff, 939px 659px #fff, 587px 40px #fff, 958px 101px #fff,
    246px 954px #fff, 440px 1990px #fff, 1925px 985px #fff, 1869px 1008px #fff,
    1708px 496px #fff, 1127px 268px #fff, 152px 1175px #fff, 1268px 319px #fff,
    996px 203px #fff, 92px 650px #fff, 1138px 536px #fff, 294px 1828px #fff,
    688px 504px #fff, 215px 685px #fff, 420px 1884px #fff, 355px 1294px #fff,
    608px 1330px #fff, 723px 730px #fff, 359px 699px #fff, 1031px 386px #fff,
    1553px 1091px #fff, 601px 1555px #fff, 145px 1811px #fff, 297px 1593px #fff,
    1931px 1784px #fff, 1550px 1661px #fff, 1194px 434px #fff, 1001px 613px #fff,
    426px 164px #fff, 271px 1463px #fff, 852px 265px #fff, 287px 719px #fff,
    422px 1104px #fff, 1616px 79px #fff, 26px 399px #fff, 1718px 1449px #fff,
    1569px 45px #fff, 1887px 854px #fff, 198px 1886px #fff, 1404px 799px #fff,
    1619px 617px #fff, 24px 478px #fff, 938px 1350px #fff, 1410px 1985px #fff,
    1304px 1441px #fff, 153px 1860px #fff, 509px 870px #fff, 927px 555px #fff,
    1692px 72px #fff, 1918px 444px #fff, 985px 992px #fff, 760px 1572px #fff,
    133px 530px #fff, 1741px 1681px #fff, 1715px 1447px #fff, 1254px 607px #fff,
    786px 617px #fff, 333px 1314px #fff, 1763px 398px #fff, 646px 911px #fff,
    993px 767px #fff, 250px 527px #fff, 578px 553px #fff, 904px 1005px #fff,
    723px 626px #fff, 709px 1492px #fff, 51px 1182px #fff, 851px 1810px #fff,
    1847px 505px #fff, 1626px 921px #fff, 1460px 268px #fff, 1327px 1821px #fff,
    414px 115px #fff, 593px 296px #fff, 1338px 1328px #fff, 1010px 437px #fff,
    1943px 1234px #fff, 229px 315px #fff, 317px 747px #fff, 786px 749px #fff,
    945px 971px #fff, 407px 418px #fff, 187px 379px #fff, 1591px 926px #fff,
    1513px 1116px #fff, 1215px 109px #fff, 389px 1760px #fff, 300px 972px #fff,
    32px 1677px #fff, 418px 1598px #fff, 1630px 1362px #fff, 1837px 1614px #fff,
    1686px 697px #fff, 793px 1611px #fff, 1841px 300px #fff, 1250px 659px #fff,
    1373px 136px #fff, 1806px 3px #fff, 831px 1694px #fff, 443px 429px #fff,
    216px 1585px #fff, 1852px 1399px #fff, 383px 853px #fff, 1865px 818px #fff,
    1579px 1770px #fff, 719px 809px #fff, 1081px 543px #fff, 607px 1010px #fff,
    812px 1176px #fff, 1769px 757px #fff, 1843px 629px #fff, 1856px 1766px #fff,
    1627px 1483px #fff, 1958px 1706px #fff, 738px 1398px #fff, 1429px 813px #fff,
    604px 14px #fff, 1831px 39px #fff, 1788px 1678px #fff, 811px 219px #fff,
    1240px 854px #fff, 1943px 188px #fff, 1310px 1118px #fff, 728px 1550px #fff,
    722px 596px #fff, 1076px 784px #fff, 137px 658px #fff, 653px 1415px #fff,
    1477px 1456px #fff, 1674px 1055px #fff, 196px 1492px #fff, 607px 1544px #fff,
    1014px 1323px #fff, 1869px 652px #fff, 1605px 632px #fff, 235px 61px #fff,
    1246px 1178px #fff, 28px 842px #fff, 1323px 1704px #fff, 458px 1705px #fff,
    1572px 1361px #fff, 1989px 678px #fff, 763px 1614px #fff, 1074px 707px #fff,
    1235px 1735px #fff, 1365px 1743px #fff, 1242px 1878px #fff,
    1738px 725px #fff, 1234px 1440px #fff, 718px 1934px #fff, 1681px 503px #fff,
    384px 1880px #fff, 1660px 143px #fff, 522px 1876px #fff, 1286px 61px #fff,
    396px 1145px #fff, 569px 769px #fff, 1055px 243px #fff, 1704px 1908px #fff,
    10px 1743px #fff, 833px 1017px #fff, 398px 1127px #fff, 1552px 1195px #fff,
    1522px 1466px #fff, 435px 373px #fff, 1813px 695px #fff, 706px 1106px #fff,
    583px 540px #fff, 642px 1206px #fff, 1998px 164px #fff, 48px 1296px #fff,
    1115px 1964px #fff, 1309px 707px #fff, 1552px 1935px #fff,
    1942px 1774px #fff, 1438px 1583px #fff, 1020px 1520px #fff, 530px 107px #fff,
    1036px 352px #fff, 598px 1598px #fff, 600px 124px #fff, 1595px 1170px #fff,
    762px 1718px #fff, 798px 1641px #fff, 1409px 88px #fff, 1569px 857px #fff,
    1539px 208px #fff, 182px 569px #fff, 714px 1128px #fff, 1654px 588px #fff,
    1978px 809px #fff, 358px 205px #fff, 248px 40px #fff, 1436px 319px #fff,
    1734px 623px #fff, 1310px 538px #fff, 1555px 882px #fff, 933px 382px #fff,
    102px 1187px #fff, 1684px 285px #fff, 614px 604px #fff, 1423px 229px #fff,
    1788px 996px #fff, 1645px 6px #fff, 1524px 1117px #fff, 1358px 1510px #fff,
    884px 1195px #fff, 1865px 383px #fff, 1028px 1893px #fff, 1263px 1386px #fff,
    1297px 76px #fff, 804px 524px #fff, 222px 1509px #fff, 575px 531px #fff,
    296px 1681px #fff, 907px 973px #fff, 650px 239px #fff, 987px 1667px #fff,
    1550px 1921px #fff, 1138px 81px #fff, 1535px 801px #fff, 768px 85px #fff,
    1052px 717px #fff, 564px 391px #fff, 1242px 1007px #fff, 1166px 651px #fff,
    385px 92px #fff, 141px 51px #fff, 1730px 158px #fff, 10px 1662px #fff,
    380px 1796px #fff, 1802px 933px #fff, 1861px 819px #fff, 1547px 349px #fff,
    394px 1128px #fff, 707px 1771px #fff, 1809px 975px #fff, 1901px 108px #fff,
    1707px 1509px #fff, 770px 1086px #fff, 493px 943px #fff, 1356px 905px #fff,
    532px 1268px #fff, 800px 1053px #fff, 384px 1832px #fff, 1359px 1341px #fff,
    390px 28px #fff, 847px 539px #fff, 1563px 298px #fff, 486px 1441px #fff,
    1517px 1870px #fff, 1342px 203px #fff, 1459px 1121px #fff, 1751px 574px #fff,
    1605px 200px #fff, 1140px 218px #fff, 863px 501px #fff, 1967px 1838px #fff,
    1662px 1845px #fff, 727px 1287px #fff, 640px 1622px #fff, 1918px 1169px #fff,
    1147px 735px #fff, 1852px 736px #fff, 721px 785px #fff, 1530px 1230px #fff,
    374px 383px #fff, 1985px 1881px #fff, 1035px 813px #fff, 1432px 591px #fff,
    716px 1144px #fff, 97px 1978px #fff, 1489px 1977px #fff, 1927px 836px #fff,
    1435px 1370px #fff, 1777px 1238px #fff, 55px 1188px #fff, 117px 309px #fff,
    303px 1589px #fff, 1785px 1938px #fff, 93px 1674px #fff, 1252px 1804px #fff,
    349px 35px #fff, 1795px 1045px #fff, 593px 1755px #fff, 1386px 1986px #fff,
    1335px 1941px #fff, 85px 146px #fff, 1638px 338px #fff, 1576px 1798px #fff,
    864px 886px #fff, 1078px 633px #fff, 666px 1399px #fff, 407px 278px #fff,
    729px 1745px #fff, 342px 190px #fff, 1294px 297px #fff, 1161px 107px #fff,
    9px 327px #fff, 1967px 685px #fff, 990px 1294px #fff, 1082px 254px #fff,
    1146px 1562px #fff, 681px 1970px #fff, 1748px 1723px #fff, 368px 919px #fff,
    1472px 71px #fff, 1584px 1342px #fff, 1222px 1007px #fff, 1800px 1992px #fff,
    1816px 304px #fff, 420px 1123px #fff, 565px 1960px #fff, 910px 104px #fff,
    408px 1362px #fff, 520px 237px #fff, 371px 1658px #fff, 1749px 1927px #fff,
    1023px 965px #fff, 1056px 900px #fff, 1985px 1059px #fff, 750px 654px #fff,
    236px 865px #fff, 1724px 1991px #fff, 718px 1672px #fff, 1992px 1462px #fff,
    88px 1304px #fff, 1110px 1718px #fff, 1088px 1475px #fff, 1161px 909px #fff,
    412px 592px #fff, 1869px 1600px #fff, 1140px 286px #fff, 1892px 1448px #fff,
    538px 1753px #fff, 907px 1302px #fff, 1722px 406px #fff, 1427px 350px #fff,
    1715px 940px #fff, 1090px 655px #fff, 2px 1162px #fff, 1402px 825px #fff,
    1460px 1727px #fff, 854px 1737px #fff, 1605px 1607px #fff, 1834px 506px #fff,
    1111px 891px #fff, 1691px 779px #fff, 355px 477px #fff, 1924px 1420px #fff,
    1762px 1316px #fff, 1857px 1559px #fff, 99px 922px #fff, 809px 671px #fff,
    927px 937px #fff, 884px 1636px #fff, 152px 1563px #fff, 1965px 196px #fff,
    825px 164px #fff, 1531px 890px #fff, 969px 1308px #fff, 444px 1521px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  /* top: 2000px; */
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 644px 1350px #fff, 1402px 1430px #fff, 296px 807px #fff,
    511px 1586px #fff, 862px 1185px #fff, 525px 735px #fff, 1903px 1817px #fff,
    1198px 1153px #fff, 204px 979px #fff, 815px 452px #fff, 470px 1870px #fff,
    341px 1653px #fff, 785px 1615px #fff, 1042px 1193px #fff, 1784px 1261px #fff,
    437px 1309px #fff, 170px 1552px #fff, 1007px 1602px #fff, 1286px 1593px #fff,
    1592px 1313px #fff, 255px 823px #fff, 1601px 1120px #fff, 847px 919px #fff,
    1626px 1594px #fff, 1713px 1889px #fff, 54px 478px #fff, 1489px 865px #fff,
    15px 781px #fff, 176px 971px #fff, 1254px 500px #fff, 1082px 475px #fff,
    617px 568px #fff, 1310px 385px #fff, 798px 1317px #fff, 1787px 1757px #fff,
    752px 1055px #fff, 1938px 1631px #fff, 772px 1035px #fff, 1901px 685px #fff,
    1300px 971px #fff, 49px 1399px #fff, 1749px 1508px #fff, 434px 520px #fff,
    1709px 774px #fff, 304px 59px #fff, 1571px 500px #fff, 1094px 106px #fff,
    1037px 718px #fff, 1598px 1510px #fff, 1027px 1822px #fff, 240px 1388px #fff,
    1905px 1681px #fff, 1833px 890px #fff, 1856px 890px #fff, 722px 1036px #fff,
    989px 592px #fff, 871px 1469px #fff, 783px 745px #fff, 930px 1865px #fff,
    1002px 936px #fff, 989px 1621px #fff, 1065px 100px #fff, 1095px 730px #fff,
    1369px 1154px #fff, 1087px 425px #fff, 1624px 38px #fff, 429px 1228px #fff,
    329px 1613px #fff, 596px 1658px #fff, 1867px 537px #fff, 1607px 1505px #fff,
    415px 1301px #fff, 357px 130px #fff, 607px 320px #fff, 1641px 881px #fff,
    41px 120px #fff, 1379px 1014px #fff, 1320px 168px #fff, 1449px 1082px #fff,
    910px 1663px #fff, 177px 1261px #fff, 931px 608px #fff, 1078px 1799px #fff,
    1650px 138px #fff, 1983px 1191px #fff, 1197px 567px #fff, 1729px 1012px #fff,
    364px 48px #fff, 1290px 157px #fff, 1516px 690px #fff, 732px 473px #fff,
    227px 14px #fff, 404px 239px #fff, 1582px 1664px #fff, 959px 1413px #fff,
    352px 1243px #fff, 1903px 502px #fff, 743px 952px #fff, 1408px 657px #fff,
    1000px 229px #fff, 1503px 1144px #fff, 318px 283px #fff, 1320px 154px #fff,
    97px 1357px #fff, 1697px 1694px #fff, 820px 307px #fff, 1269px 568px #fff,
    1538px 853px #fff, 1210px 882px #fff, 691px 1621px #fff, 1610px 1534px #fff,
    611px 1249px #fff, 635px 765px #fff, 1497px 1054px #fff, 1369px 555px #fff,
    995px 608px #fff, 1718px 1689px #fff, 1996px 1331px #fff, 36px 643px #fff,
    550px 1364px #fff, 465px 280px #fff, 1280px 1672px #fff, 1725px 1482px #fff,
    730px 1400px #fff, 1194px 1458px #fff, 1582px 1972px #fff, 317px 1616px #fff,
    1937px 1755px #fff, 688px 440px #fff, 1455px 1843px #fff, 97px 1867px #fff,
    1745px 1456px #fff, 922px 175px #fff, 567px 169px #fff, 1353px 1652px #fff,
    364px 1013px #fff, 552px 1077px #fff, 1989px 1127px #fff, 1256px 520px #fff,
    1231px 726px #fff, 1828px 1207px #fff, 110px 595px #fff, 157px 1615px #fff,
    1146px 600px #fff, 360px 1816px #fff, 1105px 1163px #fff, 1869px 859px #fff,
    904px 1853px #fff, 1347px 929px #fff, 1603px 214px #fff, 644px 826px #fff,
    619px 610px #fff, 44px 1650px #fff, 1659px 1294px #fff, 1831px 1788px #fff,
    1087px 874px #fff, 1859px 1909px #fff, 1462px 1780px #fff, 1985px 232px #fff,
    139px 1852px #fff, 1469px 1729px #fff, 1325px 651px #fff, 1777px 1332px #fff,
    461px 394px #fff, 458px 1940px #fff, 144px 1554px #fff, 1307px 1993px #fff,
    784px 1127px #fff, 575px 913px #fff, 1227px 735px #fff, 1462px 1747px #fff,
    1057px 1924px #fff, 1669px 689px #fff, 840px 1017px #fff, 1662px 1174px #fff,
    1527px 186px #fff, 1822px 622px #fff, 133px 177px #fff, 580px 200px #fff,
    1291px 1222px #fff, 1216px 1811px #fff, 73px 675px #fff, 1994px 13px #fff,
    1157px 704px #fff, 1603px 694px #fff, 1288px 1142px #fff, 1382px 1432px #fff,
    1537px 361px #fff, 1153px 396px #fff, 1380px 391px #fff, 1105px 1787px #fff,
    570px 517px #fff, 1944px 1297px #fff, 973px 901px #fff, 1948px 1994px #fff,
    33px 767px #fff, 121px 109px #fff, 416px 1061px #fff, 1904px 673px #fff,
    1196px 1188px #fff, 27px 1361px #fff, 872px 481px #fff, 1814px 1452px #fff,
    1962px 1985px #fff, 39px 562px #fff, 736px 871px #fff, 1982px 651px #fff,
    1601px 753px #fff, 1292px 1639px #fff, 858px 790px #fff, 1679px 1241px #fff,
    647px 708px #fff, 748px 1336px #fff, 175px 1657px #fff, 1007px 1255px #fff,
    70px 975px #fff, 1096px 1315px #fff, 1524px 1539px #fff, 983px 150px #fff,
    1113px 1011px #fff, 320px 1973px #fff, 1192px 234px #fff, 1857px 77px #fff,
    20px 1201px #fff, 902px 409px #fff, 934px 1331px #fff, 722px 13px #fff,
    1468px 1603px #fff, 1274px 1678px #fff, 1729px 658px #fff, 361px 1705px #fff,
    223px 1205px #fff, 1282px 1542px #fff, 1763px 249px #fff, 646px 921px #fff,
    1672px 1581px #fff, 1086px 667px #fff, 27px 1023px #fff, 537px 1753px #fff,
    464px 1554px #fff, 98px 1249px #fff, 1741px 320px #fff, 711px 737px #fff,
    532px 335px #fff, 768px 1936px #fff, 1279px 1323px #fff, 314px 267px #fff,
    1166px 356px #fff, 1920px 1350px #fff, 1532px 1080px #fff, 1914px 279px #fff,
    687px 432px #fff, 328px 1852px #fff, 416px 736px #fff, 1540px 1022px #fff,
    1283px 1826px #fff, 1028px 341px #fff, 1073px 209px #fff, 1674px 354px #fff,
    882px 1697px #fff, 770px 689px #fff, 1907px 729px #fff, 1829px 1079px #fff,
    1356px 703px #fff, 890px 1903px #fff, 1883px 268px #fff, 196px 199px #fff,
    721px 1929px #fff, 423px 543px #fff, 241px 54px #fff, 1957px 554px #fff,
    768px 583px #fff, 440px 530px #fff, 1469px 1489px #fff, 222px 1999px #fff,
    367px 88px #fff, 1135px 639px #fff, 1257px 715px #fff, 1865px 37px #fff,
    1384px 412px #fff, 1052px 1713px #fff, 1919px 665px #fff, 1290px 1254px #fff,
    137px 1051px #fff, 1413px 1169px #fff, 786px 371px #fff, 761px 815px #fff,
    496px 1554px #fff, 1025px 1104px #fff, 1216px 801px #fff, 734px 926px #fff,
    565px 1061px #fff, 1965px 9px #fff, 1353px 1513px #fff, 1228px 1827px #fff,
    60px 1877px #fff, 1931px 60px #fff, 1117px 529px #fff, 1236px 100px #fff,
    143px 934px #fff, 1882px 1962px #fff, 1055px 1065px #fff, 364px 453px #fff,
    1752px 1307px #fff, 1058px 1209px #fff, 1780px 1821px #fff,
    1663px 1452px #fff, 94px 1907px #fff, 417px 1332px #fff, 1676px 744px #fff,
    475px 14px #fff, 657px 1575px #fff, 1808px 1062px #fff, 957px 1947px #fff,
    1228px 127px #fff, 575px 920px #fff, 381px 206px #fff, 1249px 866px #fff,
    946px 865px #fff, 680px 443px #fff, 1321px 1918px #fff, 1113px 614px #fff,
    225px 1177px #fff, 314px 1473px #fff, 535px 1319px #fff, 681px 1542px #fff,
    1345px 261px #fff, 760px 1859px #fff, 723px 793px #fff, 880px 1044px #fff,
    1726px 340px #fff, 1439px 420px #fff, 444px 1044px #fff, 883px 430px #fff,
    1296px 222px #fff, 939px 659px #fff, 587px 40px #fff, 958px 101px #fff,
    246px 954px #fff, 440px 1990px #fff, 1925px 985px #fff, 1869px 1008px #fff,
    1708px 496px #fff, 1127px 268px #fff, 152px 1175px #fff, 1268px 319px #fff,
    996px 203px #fff, 92px 650px #fff, 1138px 536px #fff, 294px 1828px #fff,
    688px 504px #fff, 215px 685px #fff, 420px 1884px #fff, 355px 1294px #fff,
    608px 1330px #fff, 723px 730px #fff, 359px 699px #fff, 1031px 386px #fff,
    1553px 1091px #fff, 601px 1555px #fff, 145px 1811px #fff, 297px 1593px #fff,
    1931px 1784px #fff, 1550px 1661px #fff, 1194px 434px #fff, 1001px 613px #fff,
    426px 164px #fff, 271px 1463px #fff, 852px 265px #fff, 287px 719px #fff,
    422px 1104px #fff, 1616px 79px #fff, 26px 399px #fff, 1718px 1449px #fff,
    1569px 45px #fff, 1887px 854px #fff, 198px 1886px #fff, 1404px 799px #fff,
    1619px 617px #fff, 24px 478px #fff, 938px 1350px #fff, 1410px 1985px #fff,
    1304px 1441px #fff, 153px 1860px #fff, 509px 870px #fff, 927px 555px #fff,
    1692px 72px #fff, 1918px 444px #fff, 985px 992px #fff, 760px 1572px #fff,
    133px 530px #fff, 1741px 1681px #fff, 1715px 1447px #fff, 1254px 607px #fff,
    786px 617px #fff, 333px 1314px #fff, 1763px 398px #fff, 646px 911px #fff,
    993px 767px #fff, 250px 527px #fff, 578px 553px #fff, 904px 1005px #fff,
    723px 626px #fff, 709px 1492px #fff, 51px 1182px #fff, 851px 1810px #fff,
    1847px 505px #fff, 1626px 921px #fff, 1460px 268px #fff, 1327px 1821px #fff,
    414px 115px #fff, 593px 296px #fff, 1338px 1328px #fff, 1010px 437px #fff,
    1943px 1234px #fff, 229px 315px #fff, 317px 747px #fff, 786px 749px #fff,
    945px 971px #fff, 407px 418px #fff, 187px 379px #fff, 1591px 926px #fff,
    1513px 1116px #fff, 1215px 109px #fff, 389px 1760px #fff, 300px 972px #fff,
    32px 1677px #fff, 418px 1598px #fff, 1630px 1362px #fff, 1837px 1614px #fff,
    1686px 697px #fff, 793px 1611px #fff, 1841px 300px #fff, 1250px 659px #fff,
    1373px 136px #fff, 1806px 3px #fff, 831px 1694px #fff, 443px 429px #fff,
    216px 1585px #fff, 1852px 1399px #fff, 383px 853px #fff, 1865px 818px #fff,
    1579px 1770px #fff, 719px 809px #fff, 1081px 543px #fff, 607px 1010px #fff,
    812px 1176px #fff, 1769px 757px #fff, 1843px 629px #fff, 1856px 1766px #fff,
    1627px 1483px #fff, 1958px 1706px #fff, 738px 1398px #fff, 1429px 813px #fff,
    604px 14px #fff, 1831px 39px #fff, 1788px 1678px #fff, 811px 219px #fff,
    1240px 854px #fff, 1943px 188px #fff, 1310px 1118px #fff, 728px 1550px #fff,
    722px 596px #fff, 1076px 784px #fff, 137px 658px #fff, 653px 1415px #fff,
    1477px 1456px #fff, 1674px 1055px #fff, 196px 1492px #fff, 607px 1544px #fff,
    1014px 1323px #fff, 1869px 652px #fff, 1605px 632px #fff, 235px 61px #fff,
    1246px 1178px #fff, 28px 842px #fff, 1323px 1704px #fff, 458px 1705px #fff,
    1572px 1361px #fff, 1989px 678px #fff, 763px 1614px #fff, 1074px 707px #fff,
    1235px 1735px #fff, 1365px 1743px #fff, 1242px 1878px #fff,
    1738px 725px #fff, 1234px 1440px #fff, 718px 1934px #fff, 1681px 503px #fff,
    384px 1880px #fff, 1660px 143px #fff, 522px 1876px #fff, 1286px 61px #fff,
    396px 1145px #fff, 569px 769px #fff, 1055px 243px #fff, 1704px 1908px #fff,
    10px 1743px #fff, 833px 1017px #fff, 398px 1127px #fff, 1552px 1195px #fff,
    1522px 1466px #fff, 435px 373px #fff, 1813px 695px #fff, 706px 1106px #fff,
    583px 540px #fff, 642px 1206px #fff, 1998px 164px #fff, 48px 1296px #fff,
    1115px 1964px #fff, 1309px 707px #fff, 1552px 1935px #fff,
    1942px 1774px #fff, 1438px 1583px #fff, 1020px 1520px #fff, 530px 107px #fff,
    1036px 352px #fff, 598px 1598px #fff, 600px 124px #fff, 1595px 1170px #fff,
    762px 1718px #fff, 798px 1641px #fff, 1409px 88px #fff, 1569px 857px #fff,
    1539px 208px #fff, 182px 569px #fff, 714px 1128px #fff, 1654px 588px #fff,
    1978px 809px #fff, 358px 205px #fff, 248px 40px #fff, 1436px 319px #fff,
    1734px 623px #fff, 1310px 538px #fff, 1555px 882px #fff, 933px 382px #fff,
    102px 1187px #fff, 1684px 285px #fff, 614px 604px #fff, 1423px 229px #fff,
    1788px 996px #fff, 1645px 6px #fff, 1524px 1117px #fff, 1358px 1510px #fff,
    884px 1195px #fff, 1865px 383px #fff, 1028px 1893px #fff, 1263px 1386px #fff,
    1297px 76px #fff, 804px 524px #fff, 222px 1509px #fff, 575px 531px #fff,
    296px 1681px #fff, 907px 973px #fff, 650px 239px #fff, 987px 1667px #fff,
    1550px 1921px #fff, 1138px 81px #fff, 1535px 801px #fff, 768px 85px #fff,
    1052px 717px #fff, 564px 391px #fff, 1242px 1007px #fff, 1166px 651px #fff,
    385px 92px #fff, 141px 51px #fff, 1730px 158px #fff, 10px 1662px #fff,
    380px 1796px #fff, 1802px 933px #fff, 1861px 819px #fff, 1547px 349px #fff,
    394px 1128px #fff, 707px 1771px #fff, 1809px 975px #fff, 1901px 108px #fff,
    1707px 1509px #fff, 770px 1086px #fff, 493px 943px #fff, 1356px 905px #fff,
    532px 1268px #fff, 800px 1053px #fff, 384px 1832px #fff, 1359px 1341px #fff,
    390px 28px #fff, 847px 539px #fff, 1563px 298px #fff, 486px 1441px #fff,
    1517px 1870px #fff, 1342px 203px #fff, 1459px 1121px #fff, 1751px 574px #fff,
    1605px 200px #fff, 1140px 218px #fff, 863px 501px #fff, 1967px 1838px #fff,
    1662px 1845px #fff, 727px 1287px #fff, 640px 1622px #fff, 1918px 1169px #fff,
    1147px 735px #fff, 1852px 736px #fff, 721px 785px #fff, 1530px 1230px #fff,
    374px 383px #fff, 1985px 1881px #fff, 1035px 813px #fff, 1432px 591px #fff,
    716px 1144px #fff, 97px 1978px #fff, 1489px 1977px #fff, 1927px 836px #fff,
    1435px 1370px #fff, 1777px 1238px #fff, 55px 1188px #fff, 117px 309px #fff,
    303px 1589px #fff, 1785px 1938px #fff, 93px 1674px #fff, 1252px 1804px #fff,
    349px 35px #fff, 1795px 1045px #fff, 593px 1755px #fff, 1386px 1986px #fff,
    1335px 1941px #fff, 85px 146px #fff, 1638px 338px #fff, 1576px 1798px #fff,
    864px 886px #fff, 1078px 633px #fff, 666px 1399px #fff, 407px 278px #fff,
    729px 1745px #fff, 342px 190px #fff, 1294px 297px #fff, 1161px 107px #fff,
    9px 327px #fff, 1967px 685px #fff, 990px 1294px #fff, 1082px 254px #fff,
    1146px 1562px #fff, 681px 1970px #fff, 1748px 1723px #fff, 368px 919px #fff,
    1472px 71px #fff, 1584px 1342px #fff, 1222px 1007px #fff, 1800px 1992px #fff,
    1816px 304px #fff, 420px 1123px #fff, 565px 1960px #fff, 910px 104px #fff,
    408px 1362px #fff, 520px 237px #fff, 371px 1658px #fff, 1749px 1927px #fff,
    1023px 965px #fff, 1056px 900px #fff, 1985px 1059px #fff, 750px 654px #fff,
    236px 865px #fff, 1724px 1991px #fff, 718px 1672px #fff, 1992px 1462px #fff,
    88px 1304px #fff, 1110px 1718px #fff, 1088px 1475px #fff, 1161px 909px #fff,
    412px 592px #fff, 1869px 1600px #fff, 1140px 286px #fff, 1892px 1448px #fff,
    538px 1753px #fff, 907px 1302px #fff, 1722px 406px #fff, 1427px 350px #fff,
    1715px 940px #fff, 1090px 655px #fff, 2px 1162px #fff, 1402px 825px #fff,
    1460px 1727px #fff, 854px 1737px #fff, 1605px 1607px #fff, 1834px 506px #fff,
    1111px 891px #fff, 1691px 779px #fff, 355px 477px #fff, 1924px 1420px #fff,
    1762px 1316px #fff, 1857px 1559px #fff, 99px 922px #fff, 809px 671px #fff,
    927px 937px #fff, 884px 1636px #fff, 152px 1563px #fff, 1965px 196px #fff,
    825px 164px #fff, 1531px 890px #fff, 969px 1308px #fff, 444px 1521px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1915px 388px #fff, 1527px 1568px #fff, 1330px 1428px #fff,
    590px 25px #fff, 1924px 390px #fff, 758px 1273px #fff, 1961px 1025px #fff,
    405px 1279px #fff, 1402px 642px #fff, 1141px 789px #fff, 736px 907px #fff,
    816px 707px #fff, 378px 1132px #fff, 494px 1833px #fff, 353px 727px #fff,
    1250px 1780px #fff, 990px 94px #fff, 1390px 451px #fff, 1503px 481px #fff,
    1646px 584px #fff, 1451px 789px #fff, 1525px 1896px #fff, 1272px 134px #fff,
    1862px 837px #fff, 320px 352px #fff, 1811px 564px #fff, 1645px 294px #fff,
    1193px 1788px #fff, 1696px 1395px #fff, 1888px 1021px #fff,
    1673px 1242px #fff, 1630px 6px #fff, 261px 1944px #fff, 1422px 591px #fff,
    1383px 1259px #fff, 291px 1636px #fff, 1656px 1710px #fff, 480px 1876px #fff,
    1705px 1014px #fff, 167px 422px #fff, 830px 159px #fff, 1524px 499px #fff,
    1012px 232px #fff, 222px 1661px #fff, 244px 1628px #fff, 1774px 340px #fff,
    1347px 304px #fff, 936px 838px #fff, 292px 349px #fff, 1076px 1727px #fff,
    789px 681px #fff, 455px 1824px #fff, 1792px 1372px #fff, 190px 1964px #fff,
    1802px 476px #fff, 496px 1912px #fff, 228px 951px #fff, 1371px 843px #fff,
    1297px 314px #fff, 1674px 604px #fff, 1371px 1349px #fff, 269px 179px #fff,
    323px 1980px #fff, 1999px 1846px #fff, 755px 1436px #fff, 456px 519px #fff,
    216px 1512px #fff, 716px 1287px #fff, 618px 179px #fff, 828px 1527px #fff,
    1613px 534px #fff, 84px 1520px #fff, 360px 1411px #fff, 151px 1385px #fff,
    1225px 1955px #fff, 1584px 272px #fff, 1367px 1759px #fff, 544px 1527px #fff,
    269px 805px #fff, 72px 1190px #fff, 145px 1304px #fff, 1906px 555px #fff,
    1023px 1099px #fff, 494px 1593px #fff, 1857px 466px #fff, 1283px 156px #fff,
    1315px 713px #fff, 581px 783px #fff, 230px 1972px #fff, 1350px 19px #fff,
    1685px 1654px #fff, 1258px 1859px #fff, 1927px 6px #fff, 1620px 1478px #fff,
    811px 1856px #fff, 1858px 1466px #fff, 195px 266px #fff, 1747px 45px #fff,
    1479px 1920px #fff, 1150px 1883px #fff, 693px 1693px #fff, 1816px 233px #fff,
    1596px 1440px #fff, 1680px 538px #fff, 978px 322px #fff, 1205px 7px #fff,
    1518px 765px #fff, 625px 1253px #fff, 997px 904px #fff, 524px 640px #fff,
    23px 581px #fff, 1590px 1240px #fff, 1153px 496px #fff, 1940px 1847px #fff,
    1465px 1815px #fff, 1876px 1474px #fff, 1883px 877px #fff, 460px 192px #fff,
    556px 659px #fff, 1597px 1116px #fff, 892px 1416px #fff, 783px 510px #fff,
    1989px 196px #fff, 1882px 1880px #fff, 1903px 970px #fff, 1004px 175px #fff,
    682px 807px #fff, 1998px 1125px #fff, 320px 1420px #fff, 355px 999px #fff,
    943px 843px #fff, 1311px 1014px #fff, 44px 1360px #fff, 627px 962px #fff,
    1909px 816px #fff, 564px 971px #fff, 364px 1235px #fff, 627px 978px #fff,
    592px 1101px #fff, 1529px 201px #fff, 386px 98px #fff, 1038px 9px #fff,
    1261px 1782px #fff, 1202px 1200px #fff, 99px 439px #fff, 1291px 1977px #fff,
    1840px 471px #fff, 1951px 717px #fff, 1573px 1693px #fff, 960px 1607px #fff,
    1597px 1761px #fff, 455px 684px #fff, 831px 1234px #fff, 30px 1048px #fff,
    613px 1085px #fff, 482px 1447px #fff, 1537px 1090px #fff, 747px 1769px #fff,
    955px 172px #fff, 1559px 1220px #fff, 1773px 348px #fff, 1395px 1334px #fff,
    847px 405px #fff, 622px 1112px #fff, 94px 1981px #fff, 1650px 1039px #fff,
    699px 1522px #fff, 1692px 871px #fff, 310px 1214px #fff, 659px 1097px #fff,
    986px 453px #fff, 1892px 89px #fff, 425px 1328px #fff, 1038px 1926px #fff,
    1322px 1626px #fff, 453px 1348px #fff, 729px 962px #fff, 1527px 633px #fff,
    1787px 784px #fff, 68px 1828px #fff, 640px 1180px #fff, 97px 891px #fff,
    170px 837px #fff, 973px 216px #fff, 1505px 624px #fff, 75px 659px #fff,
    1474px 1341px #fff, 55px 871px #fff, 1606px 197px #fff, 1653px 649px #fff,
    1100px 1856px #fff, 89px 394px #fff, 969px 1620px #fff, 1477px 1939px #fff,
    940px 1266px #fff, 1922px 1587px #fff, 977px 1534px #fff, 1825px 1177px #fff,
    1240px 1476px #fff, 790px 1598px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  /* top: 2000px; */
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1915px 388px #fff, 1527px 1568px #fff, 1330px 1428px #fff,
    590px 25px #fff, 1924px 390px #fff, 758px 1273px #fff, 1961px 1025px #fff,
    405px 1279px #fff, 1402px 642px #fff, 1141px 789px #fff, 736px 907px #fff,
    816px 707px #fff, 378px 1132px #fff, 494px 1833px #fff, 353px 727px #fff,
    1250px 1780px #fff, 990px 94px #fff, 1390px 451px #fff, 1503px 481px #fff,
    1646px 584px #fff, 1451px 789px #fff, 1525px 1896px #fff, 1272px 134px #fff,
    1862px 837px #fff, 320px 352px #fff, 1811px 564px #fff, 1645px 294px #fff,
    1193px 1788px #fff, 1696px 1395px #fff, 1888px 1021px #fff,
    1673px 1242px #fff, 1630px 6px #fff, 261px 1944px #fff, 1422px 591px #fff,
    1383px 1259px #fff, 291px 1636px #fff, 1656px 1710px #fff, 480px 1876px #fff,
    1705px 1014px #fff, 167px 422px #fff, 830px 159px #fff, 1524px 499px #fff,
    1012px 232px #fff, 222px 1661px #fff, 244px 1628px #fff, 1774px 340px #fff,
    1347px 304px #fff, 936px 838px #fff, 292px 349px #fff, 1076px 1727px #fff,
    789px 681px #fff, 455px 1824px #fff, 1792px 1372px #fff, 190px 1964px #fff,
    1802px 476px #fff, 496px 1912px #fff, 228px 951px #fff, 1371px 843px #fff,
    1297px 314px #fff, 1674px 604px #fff, 1371px 1349px #fff, 269px 179px #fff,
    323px 1980px #fff, 1999px 1846px #fff, 755px 1436px #fff, 456px 519px #fff,
    216px 1512px #fff, 716px 1287px #fff, 618px 179px #fff, 828px 1527px #fff,
    1613px 534px #fff, 84px 1520px #fff, 360px 1411px #fff, 151px 1385px #fff,
    1225px 1955px #fff, 1584px 272px #fff, 1367px 1759px #fff, 544px 1527px #fff,
    269px 805px #fff, 72px 1190px #fff, 145px 1304px #fff, 1906px 555px #fff,
    1023px 1099px #fff, 494px 1593px #fff, 1857px 466px #fff, 1283px 156px #fff,
    1315px 713px #fff, 581px 783px #fff, 230px 1972px #fff, 1350px 19px #fff,
    1685px 1654px #fff, 1258px 1859px #fff, 1927px 6px #fff, 1620px 1478px #fff,
    811px 1856px #fff, 1858px 1466px #fff, 195px 266px #fff, 1747px 45px #fff,
    1479px 1920px #fff, 1150px 1883px #fff, 693px 1693px #fff, 1816px 233px #fff,
    1596px 1440px #fff, 1680px 538px #fff, 978px 322px #fff, 1205px 7px #fff,
    1518px 765px #fff, 625px 1253px #fff, 997px 904px #fff, 524px 640px #fff,
    23px 581px #fff, 1590px 1240px #fff, 1153px 496px #fff, 1940px 1847px #fff,
    1465px 1815px #fff, 1876px 1474px #fff, 1883px 877px #fff, 460px 192px #fff,
    556px 659px #fff, 1597px 1116px #fff, 892px 1416px #fff, 783px 510px #fff,
    1989px 196px #fff, 1882px 1880px #fff, 1903px 970px #fff, 1004px 175px #fff,
    682px 807px #fff, 1998px 1125px #fff, 320px 1420px #fff, 355px 999px #fff,
    943px 843px #fff, 1311px 1014px #fff, 44px 1360px #fff, 627px 962px #fff,
    1909px 816px #fff, 564px 971px #fff, 364px 1235px #fff, 627px 978px #fff,
    592px 1101px #fff, 1529px 201px #fff, 386px 98px #fff, 1038px 9px #fff,
    1261px 1782px #fff, 1202px 1200px #fff, 99px 439px #fff, 1291px 1977px #fff,
    1840px 471px #fff, 1951px 717px #fff, 1573px 1693px #fff, 960px 1607px #fff,
    1597px 1761px #fff, 455px 684px #fff, 831px 1234px #fff, 30px 1048px #fff,
    613px 1085px #fff, 482px 1447px #fff, 1537px 1090px #fff, 747px 1769px #fff,
    955px 172px #fff, 1559px 1220px #fff, 1773px 348px #fff, 1395px 1334px #fff,
    847px 405px #fff, 622px 1112px #fff, 94px 1981px #fff, 1650px 1039px #fff,
    699px 1522px #fff, 1692px 871px #fff, 310px 1214px #fff, 659px 1097px #fff,
    986px 453px #fff, 1892px 89px #fff, 425px 1328px #fff, 1038px 1926px #fff,
    1322px 1626px #fff, 453px 1348px #fff, 729px 962px #fff, 1527px 633px #fff,
    1787px 784px #fff, 68px 1828px #fff, 640px 1180px #fff, 97px 891px #fff,
    170px 837px #fff, 973px 216px #fff, 1505px 624px #fff, 75px 659px #fff,
    1474px 1341px #fff, 55px 871px #fff, 1606px 197px #fff, 1653px 649px #fff,
    1100px 1856px #fff, 89px 394px #fff, 969px 1620px #fff, 1477px 1939px #fff,
    940px 1266px #fff, 1922px 1587px #fff, 977px 1534px #fff, 1825px 1177px #fff,
    1240px 1476px #fff, 790px 1598px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1149px 1923px #fff, 1978px 721px #fff, 204px 659px #fff,
    1663px 1585px #fff, 1287px 1908px #fff, 205px 1316px #fff, 269px 1537px #fff,
    32px 1995px #fff, 689px 332px #fff, 1276px 1039px #fff, 1752px 1597px #fff,
    255px 851px #fff, 1552px 347px #fff, 173px 517px #fff, 755px 852px #fff,
    1010px 1575px #fff, 1474px 398px #fff, 1699px 1867px #fff, 1698px 863px #fff,
    1677px 1477px #fff, 736px 852px #fff, 337px 1275px #fff, 1140px 1560px #fff,
    1731px 1770px #fff, 886px 378px #fff, 1823px 1294px #fff, 1045px 1664px #fff,
    1094px 1109px #fff, 239px 524px #fff, 113px 1446px #fff, 1392px 1025px #fff,
    284px 97px #fff, 931px 1681px #fff, 504px 1058px #fff, 920px 477px #fff,
    125px 842px #fff, 1805px 1167px #fff, 1393px 1235px #fff, 1285px 1276px #fff,
    1194px 1711px #fff, 26px 263px #fff, 1891px 403px #fff, 1482px 983px #fff,
    1858px 1227px #fff, 801px 974px #fff, 1035px 127px #fff, 883px 984px #fff,
    1931px 149px #fff, 1798px 1972px #fff, 684px 1643px #fff, 1608px 143px #fff,
    856px 1430px #fff, 1146px 835px #fff, 1385px 875px #fff, 889px 865px #fff,
    63px 1469px #fff, 1311px 487px #fff, 149px 360px #fff, 1522px 64px #fff,
    787px 249px #fff, 467px 290px #fff, 1010px 1846px #fff, 1280px 937px #fff,
    1950px 814px #fff, 1480px 1215px #fff, 1859px 352px #fff, 1704px 1608px #fff,
    288px 1886px #fff, 981px 1999px #fff, 1155px 825px #fff, 1750px 823px #fff,
    612px 273px #fff, 270px 1648px #fff, 624px 954px #fff, 1034px 1835px #fff,
    447px 1576px #fff, 1228px 355px #fff, 1584px 769px #fff, 266px 1163px #fff,
    422px 1914px #fff, 1863px 171px #fff, 352px 448px #fff, 1191px 319px #fff,
    1146px 395px #fff, 1473px 1077px #fff, 669px 82px #fff, 1759px 187px #fff,
    752px 979px #fff, 1467px 1541px #fff, 204px 435px #fff, 1403px 1520px #fff,
    1238px 990px #fff, 945px 43px #fff, 860px 1568px #fff, 1503px 1813px #fff,
    1689px 604px #fff, 587px 1549px #fff, 1727px 357px #fff, 448px 1121px #fff,
    1093px 1503px #fff;
  animation: animStar 50s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1149px 1923px #fff, 1978px 721px #fff, 204px 659px #fff,
    1663px 1585px #fff, 1287px 1908px #fff, 205px 1316px #fff, 269px 1537px #fff,
    32px 1995px #fff, 689px 332px #fff, 1276px 1039px #fff, 1752px 1597px #fff,
    255px 851px #fff, 1552px 347px #fff, 173px 517px #fff, 755px 852px #fff,
    1010px 1575px #fff, 1474px 398px #fff, 1699px 1867px #fff, 1698px 863px #fff,
    1677px 1477px #fff, 736px 852px #fff, 337px 1275px #fff, 1140px 1560px #fff,
    1731px 1770px #fff, 886px 378px #fff, 1823px 1294px #fff, 1045px 1664px #fff,
    1094px 1109px #fff, 239px 524px #fff, 113px 1446px #fff, 1392px 1025px #fff,
    284px 97px #fff, 931px 1681px #fff, 504px 1058px #fff, 920px 477px #fff,
    125px 842px #fff, 1805px 1167px #fff, 1393px 1235px #fff, 1285px 1276px #fff,
    1194px 1711px #fff, 26px 263px #fff, 1891px 403px #fff, 1482px 983px #fff,
    1858px 1227px #fff, 801px 974px #fff, 1035px 127px #fff, 883px 984px #fff,
    1931px 149px #fff, 1798px 1972px #fff, 684px 1643px #fff, 1608px 143px #fff,
    856px 1430px #fff, 1146px 835px #fff, 1385px 875px #fff, 889px 865px #fff,
    63px 1469px #fff, 1311px 487px #fff, 149px 360px #fff, 1522px 64px #fff,
    787px 249px #fff, 467px 290px #fff, 1010px 1846px #fff, 1280px 937px #fff,
    1950px 814px #fff, 1480px 1215px #fff, 1859px 352px #fff, 1704px 1608px #fff,
    288px 1886px #fff, 981px 1999px #fff, 1155px 825px #fff, 1750px 823px #fff,
    612px 273px #fff, 270px 1648px #fff, 624px 954px #fff, 1034px 1835px #fff,
    447px 1576px #fff, 1228px 355px #fff, 1584px 769px #fff, 266px 1163px #fff,
    422px 1914px #fff, 1863px 171px #fff, 352px 448px #fff, 1191px 319px #fff,
    1146px 395px #fff, 1473px 1077px #fff, 669px 82px #fff, 1759px 187px #fff,
    752px 979px #fff, 1467px 1541px #fff, 204px 435px #fff, 1403px 1520px #fff,
    1238px 990px #fff, 945px 43px #fff, 860px 1568px #fff, 1503px 1813px #fff,
    1689px 604px #fff, 587px 1549px #fff, 1727px 357px #fff, 448px 1121px #fff,
    1093px 1503px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}







</style>







</html>